body{
  background: lightyellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.btn{
  background: pink;
  margin: 20px;
}

.add-btn{
  background: lightblue;
  width: 40px;
  height: 40px;
}
.app-title{
  text-align: center;
  color: lightblue;
  font-size: 70px;
}
.container{
  border: 5px solid pink;
  border-radius: 25px;
}

.box {
    padding: 30;
    text-align: "left";
    max-width: 500;
    margin: "auto"
}

.done {
  background-color: lawngreen;
  border: solid 3px blue;
  border-radius: 15px;
  text-align: center;
}

.undone {
  background-color: orangered;
  border: solid 3px black;
  border-radius: 15px;
  text-align: center;
}

li {
  list-style-type: none;
}

.list-container {
  padding: 30px;
  text-align: left;
  max-width: 500px;
  margin: auto;
}